<<<<<<< HEAD
=======
body
{
    background-image: url(palvelut\ tausta.png);
   background-position: center; 
    background-repeat: no-repeat;     
}
>>>>>>> 0e7f22339a16bd2d9139b984be1200f1f3a682b7
